name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24'

    - name: Download dependencies
      run: go mod download

    - name: Run tests
      run: |
        mkdir -p coverage
        go test ./... -v -coverprofile=coverage/coverage.out -timeout=5m

    - name: Generate coverage report
      run: go tool cover -html=coverage/coverage.out -o coverage/coverage.html

    - name: Upload coverage artifact
      uses: actions/upload-artifact@v4
      with:
        name: coverage
        path: coverage
